body {
  /* All backgrounds to go edge to edge */
  margin: 0;
  font-family: sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

header {
  background: blue;
  /*padding: 2rem;*/
  overflow: auto;
}


.title {
  float: left;
  margin: 0 1rem;
}

.title_link {
  float: right;
  font-size: 1.5rem;
  margin: 0 1rem;
}

.main {
  background-color: #f5d4a9;
  height: 100vh;
  overflow: scroll;
}

.grid {
  overflow: auto;
}

.grid__item {

border: thin solid black;
border-radius: 0.5rem;
margin: 1rem;
/*background: #382655;*/
float: left;

width: calc(100% / 3 - 1rem - 1rem);

}

.container {
  margin: 0 auto;
  padding: 3rem;
}

.profile__pic {
  float: left;
}

.profile__repos {
  border-top: thin solid black;
}

.repo-name {
  float: left;
}

.repo-language {
  float: right;
}
